In [21]:
import sqlite3

# 连接到数据库（如果不存在则会创建一个新的数据库文件）
conn = sqlite3.connect('example.db')
# conn.close()
# 创建一个游标对象，用于执行SQL语句
cursor = conn.cursor()

In [22]:
# 创建表的SQL语句
create_table_sql = """
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER
)
"""
# 执行创建表的SQL语句
cursor.execute(create_table_sql)

# 提交事务（因为创建表也是一种修改数据库结构的操作，需要提交才能生效）
conn.commit()

In [23]:

create_DC0124_DIEO = """
CREATE TABLE IF NOT EXISTS DIEO (
    图号 INTEGER PRIMARY KEY AUTOINCREMENT,
    '%%CD' TEXT NOT NULL,
    '%%Cd0' TEXT NOT NULL,
    '%%Cd1' TEXT NOT NULL,
    '%%Cd2' TEXT NOT NULL,
    件数 TEXT NOT NULL,
    成品直径 TEXT NOT NULL,
    日期 TEXT NOT NULL,
    模具名称 TEXT NOT NULL,
    设计者 TEXT NOT NULL,
    车种规格 TEXT NOT NULL
)
"""

cursor.execute(create_DC0124_DIEO)
conn.commit()

In [24]:
# 插入单条数据的SQL语句
insert_single_sql = "INSERT INTO users (name, age) VALUES (?,?)"
data_single = ('Alice', 25)
# 执行插入单条数据操作
cursor.execute(insert_single_sql, data_single)

# 插入多条数据
insert_multiple_sql = "INSERT INTO users (name, age) VALUES (?,?)"
data_multiple = [
    ('Bob', 30),
    ('Charlie', 35)
]
# 使用 executemany 方法批量插入数据
cursor.executemany(insert_multiple_sql, data_multiple)

# 提交事务
conn.commit()

In [25]:
# 查询数据的SQL语句
select_sql = "SELECT * FROM users"
# 执行查询语句
cursor.execute(select_sql)

# 获取所有查询结果（返回一个包含所有记录的列表，每条记录是一个元组）
results = cursor.fetchall()
for row in results:
    print(row)

# 也可以获取单条记录（例如获取第一条记录）
single_result = cursor.fetchone()
print(single_result)

(1, 'Alice', 25)
(2, 'Bob', 30)
(3, 'Charlie', 35)
None

In [26]:
# 更新数据的SQL语句
update_sql = "UPDATE users SET age =? WHERE name =?"
data_update = (31, 'Bob')
# 执行更新操作
cursor.execute(update_sql, data_update)

# 提交事务
conn.commit()

In [27]:
# 删除数据的SQL语句
delete_sql = "DELETE FROM users WHERE age >?"
data_delete = (30,)
# 执行删除操作
cursor.execute(delete_sql, data_delete)

# 提交事务
conn.commit()

In [28]:
# 关闭游标
cursor.close()
# 关闭数据库连接
conn.close()